body {
  margin: 0;
  overflow: hidden;
  background: #000000;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.navigation {
  position: absolute;
  left: 0; top: 0;
  z-index: 1;
}

.navigation__item {
  display: block;
  text-decoration: none;
}

.content {
  position: absolute;
  left: 0; top: 0;
  z-index: 1;
}

#three-container {
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
}


.tween-control {
  position: absolute;
  bottom: 40px;
  left: 0; right: 0;
  width: 600px;
  height: 4px;
  margin: auto;
}

.tween-control__track {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
}

.tween-control__head {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -8px;
  margin-left: -10px;

  background-color: #000;
  border: 4px solid #fff;
}
