<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>fragments</title>
  <link rel="stylesheet" href="css/main.<%= cssExt %>">
</head>
<body>

<div id="app">

  <div class="navigation">
    <a class="navigation__item"
       v-for="scene in scenes"
       v-link="{ path: scene.name }">- {{ scene.name }} -</a>
  </div>

  <div class="content">
    <router-view></router-view>
  </div>

  <div id="three-container" v-three-view></div>

</div>

<script src="js/main.<%= jsExt %>"></script>

<!-- Release <%= version %> at <%= new Date() %> -->

</body>
</html>
