<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>fragments</title>
  <link rel="stylesheet" href="css/main.<%= cssExt %>">
</head>
<body>

<div id="app">

  <div class="navigation">
    <a class="navigation__item"
       v-for="item in items"
       v-link="{ path: item.name }">- {{ item.name }} -</a>
  </div>

  <div class="content">
    <router-view></router-view>
  </div>

  <div id="three-container" v-three-view></div>

  <div class="tween-control">
    <tween-play-control v-bind:tween="active_tween" inline-template>
      <div class="tween-control__play-toggle" v-on:click="toggle">
        <i class="icon-play" v-if="isPaused"></i>
        <i class="icon-pause" v-if="!isPaused"></i>
      </div>
    </tween-play-control>

    <tween-progress-control v-bind:tween="active_tween" inline-template>
      <div class="tween-control__track">
        <div class="tween-control__head"></div>
      </div>
    </tween-progress-control>
  </div>
</div>

<script src="js/main.<%= jsExt %>"></script>

<!-- Release <%= version %> at <%= new Date() %> -->

</body>
</html>
